---
interface Props {
	src: string;
    alt?: string;
    citationLink: string;
    citationText: string;
    width?: string;
    height?: string;
}

const { src, alt, citationLink, citationText, width, height } = Astro.props;
---
<div>
    <img src={src} alt={alt} width={width} height={height}>
    {citationLink && citationText && <small>
        (<a href={citationLink}>{citationText}</a>)
    </small>}
</div>