---
interface Props {
	src: string;
    alt?: string;
    href: string;
    citationText: string;
    width?: string;
    height?: string;
}

const { src, alt, href, citationText, width, height } = Astro.props;
import Citation from './Citation.astro';
---
<div>
    <img src={src} alt={alt} width={width} height={height}>
    <br>
    <Citation href={href} citationText={citationText} />
</div>

<style>
    div {
        margin: 3rem auto;
        text-align: center;
        overflow: hidden;
    }
    img {
        max-width: 100%;
        height: auto;
    }
</style>